.spl-modal-header-navigation{
	min-height: 48px;
	height: 48px;
	width: 100%;
	color: white;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.spl-navigation{
	cursor: pointer;
	font-weight: 500;
	color: white;
	border-radius: 999px;
	padding: 2px 15px 2px 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
	text-transform: capitalize;
	text-decoration: none;

	.spl-navigation-icon{
		margin-right: 1px;
		fill: white;
	}
}

.spl-primary-navigation{
	background-color: rgb(252, 93, 125);
}

.spl-secondary-navigation{
	background-color: rgb(88, 196, 168);
}

.spl-primary-active{
	font-weight: bold;
	background-color: #e74868;
}

.spl-secondary-active{
	font-weight: bold;
	background-color: #43af93;
}

.spl-navigation-back{
	position: absolute;
	top: 13px;
	z-index: 1;
	left: -1px;
	padding: 0px 12px;

	span{
		height: 24px;
		width: 24px;
		display: block;
		cursor: pointer;
		color: white;

		svg{
			fill: white;
		}
	}
}