.spl-settings-wrap{
	margin: 10px 20px 0 2px;
	transition: all 200ms ease 0s;
}

.spl-settings-wrap > h1 {
	font-size: 23px;
	font-weight: 400;
	margin: 0;
	padding: 9px 0 4px 0;
	line-height: 1.3;
	color: #23282d;
}

.spl-nav-tab-wrapper{
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding-top: 9px;
	padding-bottom: 0;
	line-height: inherit;
	display: flex;
}

.spl-nav-tab{
	border: 1px solid #ccc;
	margin-left: 0.5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.8;
	font-weight: 600;
	text-decoration: none;
	white-space: nowrap;
	color: #555;
	background: #e5e5e5;
	margin-bottom: -1px;
}

.spl-nav-tab-active{
	border-bottom: 1px solid #f1f1f1;
	background: #f1f1f1;
	color: #000;
	box-shadow: none;
}

.spl-settings-form-page{
	padding-top: 30px;
	display: none;
}

.spl-active{
	display: block;
}

#spl-message{
	background: #fff;
    border: 1px solid #ccd0d4;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin: 5px 0px 15px;
	padding: 1px 12px;
	border-left-color: #46b450;
	padding-right: 38px;
    position: relative;
	display: none;
}

#spl-message > p{
	margin: 8px;
	line-height: 1.4em;
}

.spl-notice-dismiss{
	position: absolute;
    top: 0;
    right: 1px;
    border: none;
    margin: 0;
    padding: 9px;
    background: 0 0;
    color: #72777c;
    cursor: pointer;
}

.spl-notice-dismiss::before{
	background: 0 0;
    color: #72777c;
    content: "\f153";
    display: block;
    font: normal 16px/20px dashicons;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
}

.spl-upload-image-wrap{
	margin-top: 15px;
}

.spl-upload-image-name{
	display: inline-block;
    padding: 6px;
    border: 1px solid black;
    border-radius: 4px;
}