#spl-root{
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 999;
}

.spl-button-container{
	width: 60px;
	height: 60px;
	z-index: 999;
}

.start-appear {
	transform: scale(0);
}

.start-appear.start-appear-active {
	transform: scale(1);
	transition: transform 150ms ease-in-out 0s;
}

.spl-button{
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 50%;
	margin: 0;
	user-select: none;
	outline: none;
	padding: 0;
	background-color: rgb(252, 93, 125) !important;
	position: relative;
	transition: background-color 200ms linear 0s, transform 200ms linear 0s;

	span{
		width: 60px;
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.button-enter {
	transform: scale(1);
}

.button-enter-active {
	transform: scale(0.95);
	transition: transform 130ms linear 0s;
}

.button-exit {
	transform: scale(1);
}
.button-exit-active {
	transform: scale(0.95);
	transition: transform 130ms linear 0s;
}

.spl-icon-open{
	svg{
		height: 22px;
	}
}

.spl-button:hover{
	background-color: rgb(244, 85, 117) !important;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 30px inset;
}

.icon-enter {
	transform: rotate(45deg) scale(0);
}

.icon-enter-active {
	transform: rotate(0deg) scale(1);
	transition: opacity 80ms linear 0s, transform 300ms linear 0s;
}

.icon-exit {
	opacity: 1;
	transform: scale(1);
}

.icon-exit-active {
	opacity: 0;
	transform: scale(0);
	transition: opacity 300ms linear 0s, transform 80ms linear 0s;
}

.spl-modal-container{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
	position: fixed;
	bottom: 85px;
	right: 20px;
	height: calc( 100% - 120px );
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 5px 30px 0px, rgba(0, 0, 0, 0.05) 0px 3px 3px 0px;
	width: 350px;
	min-height: 200px;
	max-height: 588px;
	border-radius: 4px;
	z-index: 1050;
	background-color: white;

	.spl-search-container{
		width: 100%;
		height: 59px;
		position: absolute;
		bottom: 0;
		display: flex;
		box-shadow: 0px -2px 15px rgba(165, 178, 189, 0.5);

		.spl-search-text{
			width: 83%;
			outline: none;
			border: none;
			border-radius: 4px;
			font-size: 13px;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			background-color: transparent;
			padding: 1.5rem 1.8rem;
			position: relative;
		}

		.spl-search-button-container{
			width: 17%;
			padding: 3px 4px;
			.spl-search-button{
				fill: #c1cbd4;
				width: 100%;
				height: 100%;
				padding: 0;
				display: flex;
				background: none;
				outline: none;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.spl-search-container::before{
		content: "";
		position: absolute;
		width: 0%;
		height: 2px;
		background-color: rgb(252, 93, 125);
		top: -2px;
		transition: all 300ms linear 0ms;
	}

	.is-focussed::before{
		width: 100%;
		transition: all 300ms linear 0ms;
	}
}

.modal-enter {
	opacity: 0;
	transform: translateY(20px);
}

.modal-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 200ms linear 0s, transform 300ms linear 0s;
}

.modal-exit {
	transform: translateY(0);
	opacity: 1;
}
.modal-exit-active {
	transform: translateY(20px);
	opacity: 0;
	transition: transform 200ms linear 0s, opacity 300ms linear 0s;
}

.spl-modal-scroll-container{
	max-height: 90%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.spl-modal-container-background{
	position: fixed;
	bottom: 0;
	right: 0;
	background: radial-gradient(at right bottom, rgba(0, 0, 0, 0.1) 0px, rgba(0, 0, 0, 0) 75%);
	width: 400px;
	height: 400px;
	pointer-events: none;
}

.spl-heading-post-container{
	transition: all 250ms ease 0s;
	min-height: 71px;
	background-color: rgb(252, 93, 125);
	height: 71px;
	padding: 0px 20px 31px;

	.spl-post-heading{
		margin: 0;
		margin-bottom: 8px;
		padding-top: 7px;
		font-size: 1.5rem;
		font-weight: 500;
		text-align: center;
		color: white;
		opacity: 0;
		animation: heading 250ms ease-in-out 300ms forwards;
	}

	div{
		padding-top: 7px;
	}
}

@keyframes heading{
	0%{
		opacity: 0;
		transform: translateY(12px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

.spl-heading-form-container{
	transition: all 250ms ease 0s;
	background-color: rgb(252, 93, 125);
	min-height: 153px;
}

.spl-main-container{
	background-color: white;
	width: 100%;
	flex: 1;
	position: relative;
}

.spl-modal-single-post-container{
	position: absolute;
	background-color: red;
	width: 97%;
	height: 97%;
	z-index: 10;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

















.spl-modal-scroll-container::-webkit-scrollbar-track {
	background-color: transparent;
}

.spl-modal-scroll-container::-webkit-scrollbar {
	width: 12px;
}

.spl-modal-scroll-container::-webkit-scrollbar-track {
	background: #ddd; 
	border-radius: 8px;
}

.spl-modal-scroll-container::-webkit-scrollbar-thumb {
	border: 2px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.1);
}

.spl-modal-scroll-container::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.spl-modal-scroll-container:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
}

.spl-modal-scroll-container:hover::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.spl-modal-scroll-container{
	scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0);
}