#spl-root{
	position: fixed;
	bottom: 10px;
	right: 20px;
}

.spl-button-container{
	width: 60px;
	height: 60px;
	z-index: 999;
}

.spl-button{
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 50%;
	margin: 0;
	user-select: none;
	outline: none;
	padding: 0;
	background-color: rgb(252, 93, 125) !important;
	position: relative;
	transition: background-color 200ms linear 0s, transform 200ms linear 0s;

	span{
		width: 60px;
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.button-enter {
	transform: scale(1);
}

.button-enter-active {
	transform: scale(0.95);
	transition: transform 130ms linear 0s;
}

.button-exit {
	transform: scale(1);
}
.button-exit-active {
	transform: scale(0.95);
	transition: transform 130ms linear 0s;
}

.spl-icon-open{
	svg{
		height: 22px;
	}
}

.spl-button:hover{
	background-color: rgb(244, 85, 117) !important;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 30px inset;
}

.icon-enter {
	transform: rotate(45deg) scale(0);
}

.icon-enter-active {
	transform: rotate(0deg) scale(1);
	transition: opacity 80ms linear 0s, transform 300ms linear 0s;
}

.icon-exit {
	opacity: 1;
	transform: scale(1);
}
.icon-exit-active {
	opacity: 0;
	transform: scale(0);
	transition: opacity 80ms linear 0s, transform 300ms linear 0s;
}