$height: 588px;
$primary: rgb(252, 93, 125);
$secodary: rgb(88, 196, 168);

#spl-root{
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 999;
}

.overflow{
	overflow: hidden !important;
}

.height{
	max-height: 99% !important;
}

.spl-button-container{
	width: 60px;
	height: 60px;
	z-index: 999;
}

.start-appear {
	transform: scale(0);
}

.start-appear.start-appear-active {
	transform: scale(1);
	transition: transform 150ms ease-in-out 0s;
}

.spl-primary{
	background-color: $primary !important;
}

.spl-secondary{
	background-color: $secodary !important;
}

.spl-button{
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 50%;
	margin: 0;
	user-select: none;
	outline: none;
	padding: 0;
	position: relative;
	transition: background-color 200ms linear 0s, transform 200ms linear 0s;

	span{
		width: 60px;
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.button-enter {
	transform: scale(1);
}

.button-enter-active {
	transform: scale(0.95);
	transition: transform 130ms linear 0s;
}

.button-exit {
	transform: scale(1);
}
.button-exit-active {
	transform: scale(0.95);
	transition: transform 130ms linear 0s;
}

.spl-icon-open{
	svg{
		height: 22px;
	}
}

.spl-primary:hover{
	background-color: rgb(244, 85, 117) !important;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 30px inset;
}

.spl-secondary:hover{
	background-color: rgb(80, 188, 160) !important;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 30px inset;
}

.icon-enter {
	transform: rotate(45deg) scale(0);
}

.icon-enter-active {
	transform: rotate(0deg) scale(1);
	transition: opacity 80ms linear 0s, transform 300ms linear 0s;
}

.icon-exit {
	opacity: 1;
	transform: scale(1);
}

.icon-exit-active {
	opacity: 0;
	transform: scale(0);
	transition: opacity 300ms linear 0s, transform 80ms linear 0s;
}

.spl-modal-container{
	position: fixed;
	bottom: 85px;
	right: 20px;
	height: calc( 100% - 120px );
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 5px 30px 0px, rgba(0, 0, 0, 0.05) 0px 3px 3px 0px;
	width: 350px;
	min-height: 200px;
	max-height: $height;
	border-radius: 4px;
	z-index: 1050;
	background-color: white;

	.spl-search-container{
		width: 100%;
		height: 59px;
		position: absolute;
		bottom: 0;
		display: flex;
		box-shadow: 0px -2px 15px rgba(165, 178, 189, 0.5);

		.spl-search-text{
			width: 83%;
			outline: none;
			border: none;
			border-radius: 4px;
			font-size: 13px;
			background-color: transparent;
			padding: 1.5rem 1.8rem;
			position: relative;
		}

		.spl-search-button-container{
			width: 17%;
			padding: 3px 4px;
			.spl-search-button{
				fill: #c1cbd4;
				width: 100%;
				height: 100%;
				padding: 0;
				display: flex;
				background: none;
				outline: none;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.spl-search-container::before{
		content: "";
		position: absolute;
		width: 0%;
		height: 2px;
		//background-color: rgb(252, 93, 125);
		top: -2px;
		transition: all 300ms linear 0ms;
	}

	.spl-primary-before::before{
		background-color: $primary;
	}

	.spl-secondary-before::before{
		background-color: $secodary;
	}

	.is-focussed::before{
		width: 100%;
		transition: all 300ms linear 0ms;
	}
}

.modal-enter {
	opacity: 0;
	transform: translateY(20px);
}

.modal-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 200ms linear 0s, transform 300ms linear 0s;
}

.modal-exit {
	transform: translateY(0);
	opacity: 1;
}
.modal-exit-active {
	transform: translateY(20px);
	opacity: 0;
	transition: transform 200ms linear 0s, opacity 300ms linear 0s;
}

.spl-modal-scroll-container{
	max-height: 90%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.spl-modal-scroll-form{
	max-height: 100%;

	.spl-main-form-container{
		padding: 10px 6px;
	}
}

.spl-modal-container-background{
	position: fixed;
	bottom: 0;
	right: 0;
	background: radial-gradient(at right bottom, rgba(0, 0, 0, 0.1) 0px, rgba(0, 0, 0, 0) 75%);
	width: 400px;
	height: 400px;
	pointer-events: none;
}

.spl-heading-post-container{
	transition: all 250ms ease 0s;
	min-height: 71px;
	pointer-events: none;
	height: 71px;
	padding: 0px 20px 31px;

	.spl-post-heading{
		margin: 0;
		margin-bottom: 8px;
		padding-top: 7px;
		font-size: 1.5rem;
		font-weight: 500;
		text-align: center;
		color: white;
		opacity: 0;
		animation: heading 250ms ease-in-out 300ms forwards;
	}

	div{
		padding-top: 7px;
	}
}

@keyframes heading{
	0%{
		opacity: 0;
		transform: translateY(12px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

.spl-heading-form-wrap{
	transition: all 250ms ease 0s;
	background-color: rgb(252, 93, 125);
	min-height: 153px;
	height: 153px;
	pointer-events: none;
}

.spl-heading-search-container{
	min-height: 0px;
	height: 0;
	transition: all 250ms ease 0s;
}

.spl-main-container{
	background-color: white;
	width: 100%;
	//height: calc( #{$height} - 48px - 71px - 59px );
	// position: relative;
}

.spl-modal-single-post-container{
	position: absolute;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 3px 3px;
	background-color: rgba(57, 73, 86, 0.15);
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	padding: 10px 5px 5px;
	z-index: 10;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	flex-direction: column;
}

.single-post-enter {
	opacity: 0;
	pointer-events: none;
	transform: translateY(12px);
}

.single-post-enter-active {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0);
	transition: all 450ms cubic-bezier(0.19, 1, 0.22, 1) 50ms;
}

.single-post-exit {
	transform: translateY(0);
	opacity: 1;
}
.single-post-exit-active {
	transform: translateY(12px);
	opacity: 0;
	transition: all 450ms cubic-bezier(0.19, 1, 0.22, 1);
}


.spl-heading-form-container{
	width: 100%;
	color: white;
	opacity: 0;
	animation: heading 250ms ease-in-out 250ms forwards;
		
	.spl-heading-form-content{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 15px;

		.spl-form-heading-avatars{
			background-size: cover;
			background-image: url( './images/image1.jpg' );
			display: block;
			height: 60px;
			width: 60px;
			background-position: center center;
			border-radius: 50%;
			border: 2px solid white;
			position: relative;
			transform: scale(1.1);
			box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.2) 0px 5px 8px;
		}
	}

	.spl-form-heading{
		margin: 0;
		letter-spacing: 0;
		margin-bottom: 7px;
		padding-top: 7px;
		text-align: center;
		color: white;
		font-size: 15px;
		line-height: 1.5;
		font-weight: 500;
	}

	.spl-form-sub-heading{
		margin: 0;
		padding: 0;
		margin-top: -9px;
		opacity: 0.65;
		text-align: center;
		color: white;
		letter-spacing: 0;
		font-weight: 500;
		font-size: 13px;
		line-height: 1.5;
	}
}


















.spl-modal-container *::-webkit-scrollbar-track {
	background-color: transparent;
}

.spl-modal-container *::-webkit-scrollbar {
	width: 12px;
}

.spl-modal-container *::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.04); 
	border-radius: 8px;
}

.spl-modal-container *::-webkit-scrollbar-thumb {
	border: 2px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.1);
}

.spl-modal-container *::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.spl-modal-container *:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
}

.spl-modal-container *:hover::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.spl-modal-container *{
	scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0);
}